body {
    font-family: Arial, sans-serif;
    margin: 20px; 
    padding: 100px;
    background-color: #f4f4f4;
    text-align: center;  
}

h1 {
    color: #336699; 
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type="number"]{
    margin-bottom: 15px;
    text-align: center;
}

input[type="number"] {
    width: 80px; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#password {
    margin-top: 20px;
    font-size: 18px; 
    font-family: monospace;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}